.heroContainer{
    background-image: url('../../assets/Planetasensorialimg3.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.heroContainer__sectionHero{
    padding: 30px;
    width: 50%;
    background-color: aliceblue;
    border-radius: 30% 70% 29% 71% / 45% 13% 87% 55%;
}
.heroContainer__sectionHero h2{
    margin: 0;
}