.listContent li{
    list-style: none;
}
.listComp{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}
.textCont{
    width: 60%;
}
.light{
    background: linear-gradient(#daffec 90%, #FFF);
}

.noLight{
    background: linear-gradient(#FFF 90%, #daffec);
}
.back{
    margin: auto;
    width: 30%;
}