.listContent li{
    list-style: none;
}
.listComp{
    padding: 20px 0;
}

.light{
    background: linear-gradient(#daffec 90%, #FFF);
}

.noLight{
    background: linear-gradient(#FFF 90%, #daffec);
}