footer {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background: #c9e2e9;
    width: 100%;
}
footer p{
    width: 50%;
}
footer .imgContainer{
    width: 25%;
}
footer nav{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
}
.logoImg{
    width: 50%;
}
.redesImg{
    width: 50px;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
    footer{
        flex-direction: column;
    }
    footer .imgContainer{
        width: 50%;
    }
    footer .imgContainer .logoImg{
        width: 100%;
    }
    footer p{
        order: 2;
        width: 100%;
    }
    footer nav{
        width: 100%;
        justify-content: space-evenly;
    }
}