footer {
    justify-content: space-around;
    display: flex;
    background: #c9e2e9;
    width: 100%;
}
footer h2{
    align-self: center;
    margin: 0;
}
footer nav ul{
    display: flex;
    padding: 0;
}
footer nav ul li {
    margin: 15px;
    list-style: none;
}