footer {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background: linear-gradient(0deg, rgba(201,226,233,1) 0%, rgba(201,226,233,1) 90%, rgba(255,255,255,1) 100%);
    width: 100%;
}
footer p{
    width: 50%;
}
footer .imgContainer{
    width: 25%;
}
footer nav{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
}
.logoImg{
    width: 50%;
}
.redesImg{
    width: 50px;
}